body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.card {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
  text-align: center;
}

.button-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#qrcode {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#reader {
  width: 100%;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  word-wrap: break-word;
}
